
body{
    background: #F5F6F8;
    min-height: 100vh;
    max-height: 100%;
    padding-bottom: 12px;
}

/* slds global css start */

.slds-context-bar{
    border-bottom: 3px solid #A85914;
}

.slds-context-bar__item.slds-is-active:before, .slds-tabs_default__item.slds-is-active:after, .slds-tabs_default__item:hover:after{
    background: #A85914;
}

.slds-checkbox [type=checkbox]:checked + .slds-checkbox__label .slds-checkbox_faux:after{
    border-bottom: 2px solid var(--slds-c-checkbox-mark-color-foreground, var(--sds-c-checkbox-mark-color-foreground, #A85914));
    border-left: 2px solid var(--slds-c-checkbox-mark-color-foreground, var(--sds-c-checkbox-mark-color-foreground, #A85914));
}

.slds-checkbox [type=checkbox]:focus + .slds-checkbox__label .slds-checkbox_faux{
    border-color: #A85914;
    --slds-c-checkbox-shadow: var(--slds-c-checkbox-shadow-focus, var(--sds-c-checkbox-shadow-focus, 0 0 3px #A85914));
}


/* slds global css end */

.page-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}